/* VARIABLES */
:root {
    --main-background: #f5f5f5;
    --header-font: 'Source Serif Pro', serif;
    /* --side-bar-font: 'Source Serif Pro', serif; */
    --news-article-font: 'Source Serif Pro', serif;
    --light-grey: rgb(211, 211, 211);
    --aside-background: rgb(248, 248, 248);
}

/* GLOBAL SELECTORS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--header-font);
    font-weight: bold;
    font-size: 4rem;
    color: #f5f5f5;
}

/* SIDE BAR */
aside {
    margin: 2rem 0 0 2rem;
    background-color: var(--aside-background);
    -webkit-box-shadow: 0 0 10px var(--light-grey);
        box-shadow: 0 0 10px var(--light-grey);
    height: 100vh;
    padding: 1rem;
}

.menu-label {
    border-bottom: 1px solid var(--light-grey);
    margin: 0 auto;
}

button {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--aside-background);
    border-style: none;
    border-bottom: 1px solid var(--light-grey);
}

button:hover {
    background-color: var(--light-grey);
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.03);
}

.ticker {
    font-weight: bold;
    text-align: justify;
}

.name {
    font-size: .6rem;
    color: grey;
    text-align: justify;
}

.current-price {
    font-weight: bold;
}

.price-change {
    font-size: .6rem;
}

.gain {
    color: green;
    font-weight: bold;
}

.loss {
    color: red;
    font-weight: bold;
}

/* PNG AND NEWS CONTAINER */
#png-latest-news-container {
    height: fit-content;
    margin: 2rem auto;
}

/* NEWS PNG */
#news-png {
    border: 1px solid var(--light-grey);
    width: 95%;
    margin: 0 0 0 1rem;
}

/* NEWS */
#latest-news-header {
    font-size: 2rem;
    margin: 1rem 0 0 1rem;
    font-family: var(--news-article-font)
}

.news-article-box {
    margin: 1rem 0 1rem 1rem;
    width: 95%;
}
