/* VARIABLES */
:root {
    --header-font: 'Source Serif Pro', serif;
    --news-article-font: 'Source Serif Pro', serif;
    --light-grey: #f2f2f2;
    --md-grey: #c4c4c4;
    --dark-grey: #8b8b8b;
    --news-content-font: 'Source Serif Pro', sans-serif;
    --white-font: #ffffff;
    --black-font: #000000;
    --gain: #228b22;
    --loss: #ff0800;
}

/* GLOBAL SELECTORS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: var(--light-grey); */
}

/* HEADER */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--news-content-font);
    font-size: 4rem;
}

#main-header {
    color: var(--white-font);
}

/* SIDE BAR */
aside {
    margin: 2rem 0 0 2rem;
    background-color: var(--light-grey);
    -webkit-box-shadow: 0 0 10px var(--md-grey);
        box-shadow: 0 0 10px var(--md-grey);
    padding: 1rem;
    border: 1px solid var(--light-grey);
    height: 96.8%;
    border-radius: 5px;
}

.menu-label {
    border-bottom: 1px solid var(--md-grey);
    margin: 0 auto;
}

button {
    width: 100%;
    height: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--aside-background);
    border-style: none;
    border-bottom: 1px solid var(--md-grey);
}

/* button:hover {
    background-color: var(--md-grey);
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.03);
} */

.ticker {
    font-weight: bold;
    text-align: justify;
}

.name {
    font-size: .6rem;
    color: var(--dark-grey);
    text-align: justify;
}

.current-price {
    font-weight: bold;
}

.price-change {
    font-size: .6rem;
}

.gain {
    color: var(--gain);
    font-weight: bold;
}

.loss {
    color: var(--loss);
    font-weight: bold;
}

/* PNG AND NEWS CONTAINER */
#png-latest-news-container {
    height: fit-content;
    margin: 2rem 1rem;
}

/* NEWS PNG */
#news-png {
    background-color: var(--light-grey);
    border: 1px solid var(--light-grey);
    width: 95%;
    margin: 0 0 0 1rem;
    -webkit-box-shadow: 0 0 10px var(--md-grey);
        box-shadow: 0 0 10px var(--md-grey);
    border-radius: 5px;
}

/* SEARCHED STOCK DATA CONTAINER */
.stock-card {
    background-color: var(--light-grey);
    width: 95%;
    margin: 1rem auto;
    margin-bottom: 2rem;
    border: 1px solid var(--md-grey);
    padding: 1rem;
    -webkit-box-shadow: 0 0 10px var(--md-grey);
        box-shadow: 0 0 10px var(--md-grey);
}

.stock-symbol-header {
    display: flex;
    justify-content: space-between;
}

.stock-ticker {
    font-weight: bold;
    font-size: 1.4rem;
}

.stock-name {
    color: var(--dark-grey);
    font-size: .6rem;
}

.card-current-price {
    font-size: 1.4rem;
}

.card-price-change {
    font-size: .8rem;
}

.card-high-low {
    height: 6.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(209, 209, 209);
    border: 1px solid var(--md-grey);
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px var(--md-grey);
        box-shadow: 0 0 10px var(--md-grey);
    margin: 1rem 0 1rem 0;
    padding: .5rem;
}

.year-low-high-header {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: .2rem;
}

.low-high-prices {
    display: flex;
}

.low-price {
    background-color: var(--loss);
    margin-right: .4rem;
    font-weight: bold;
    color:var(--white-font);
    padding: .3rem;
}

.high-price {
    background-color: var(--gain);
    margin-left: .4rem;
    font-weight: bold;
    color:var(--white-font);
    padding: .3rem;
}

.basic-financials {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.market-cap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.market-cap-header {
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: underline;
}

.pe-ratio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: .5rem;
    margin-left: .5rem;
}

.pe-header {
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: underline;
}

.eps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: .5rem;
    margin-left: .5rem;
}

.eps-header {
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: underline;
}

.yield {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: .5rem;
    margin-left: .5rem;
}

.yield-header {
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: underline;
}

.beta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: .5rem;
    margin-left: .5rem;
}

.beta-header {
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: underline;
}

/* NEWS */
#latest-news-header {
    font-size: 2.5rem;
    margin: 1rem 0 0 1rem;
    font-family: var(--news-content-font);
    text-align: justify;
    color: var(--black-font);
}

.news-article-box {
    background-color: var(--light-grey);
    border: 1px solid var(--light-grey);
    margin: 1rem 0 1rem 1rem;
    width: 95%;
    -webkit-box-shadow: 0 0 10px var(--md-grey);
        box-shadow: 0 0 10px var(--md-grey);
}

.news-text-content {
    padding-left: 1rem;
    font-family: var(--news-content-font);
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-img {
    height: 13rem; 
    width: 13rem;
    object-fit: fill; 
}

.news-header {
    color: var(--black-font);
    font-weight: bold;
    font-size: 1.6rem;
    text-align: justify;
}

.news-header:hover {
    text-decoration: underline;
}
